In [1]:
import pandas as pd

In [9]:
#항공운항데이터 분석
df1=pd.read_csv("C:/chj/data/2006.csv",sep=",")
df2=pd.read_csv("C:/chj/data/2007.csv",sep=",")
df3=pd.read_csv("C:/chj/data/2008.csv",sep=",")
df1.append(df2)
df1.append(df3)
df1.shape

(7141922, 29)

In [3]:
df1.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
#전체 데이터에서 년, 월, 도착지연시간, 출발 지연시간 추출
df2=df1[['Year','Month','ArrDelay','DepDelay']]
df2

         Year  Month  ArrDelay  DepDelay
0        2006      1       6.0      -2.0
1        2006      1      -5.0       0.0
2        2006      1     -23.0       0.0
3        2006      1      -8.0      -2.0
4        2006      1       0.0      -8.0
...       ...    ...       ...       ...
7141917  2006     12      -7.0      -3.0
7141918  2006     12      62.0      30.0
7141919  2006     12      13.0       3.0
7141920  2006     12     -14.0      -5.0
7141921  2006     12     -22.0      -3.0

[7141922 rows x 4 columns]

In [11]:
df2.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0

In [10]:
df2.tail()#끝에서 끝에서 5개 보기

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0